<mat-card>
    <mat-card-content>  
        <form>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Album Search:</mat-label>
                <input type="text"
                    aria-label="Number"
                    matInput
                    [formControl] = "searchForm"
                    autocomplete="off"
                    (keyup.enter)="search()"
                    >
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>
<mat-card *ngIf="albums">
    <mat-card-content>  
        <mat-action-list>
            <mat-list-item [routerLink]="['/game']" (click)="startGame(album)" *ngFor="let album of albums"> 
                <mat-icon mat-card-avatar>        
                    <img [src]="album.images[0].url" height="50" width="50">
                </mat-icon>
                <div mat-line>{{album.name}}</div>
                <div mat-line>{{album.artists[0].name}}</div>
            </mat-list-item>
        </mat-action-list>
    </mat-card-content>
</mat-card>

